/*-----HEADER SOCIAL ICONS-----*/
header {
    position: relative;
    
    ul.social {
        position: absolute;
        right: $gutter;
        bottom: .5rem;
    }
    
    ul.social li {
        width: auto;
    }
    

} // end header

/*  ------------- MAIN -------------  */
main {

    .purple {
        color: purple;
    }
    
    
} // end main


